<div class="row">
  <div class="col-md-12">
    <div class="portlet box blue-hoki">
      <div class="portlet-title">
        <div class="caption" *ngIf="flag==1">
          <i class="glyphicon glyphicon-chevron-left back_hand" (click)="goBack()"></i>添加仓库
        </div>
        <div class="caption" *ngIf="flag==2">
          <i class="glyphicon glyphicon-chevron-left back_hand" (click)="goBack()"></i>编辑仓库
        </div>
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">仓库编号:</label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control storageNum" value="{{storageMesg.storageNum}}"
                         placeholder="可不填，自动生成" readonly>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">仓库名称:
                <span class="required" aria-required="true">* </span>
              </label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control storageName" value="{{storageMesg.storageName}}"
                         placeholder="必填" required>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">仓库类型:</label>
              <div class="col-md-4">
                <select id="storageType" class="form-control">
                  <option value="">请选择</option>
                  <option *ngFor="let stypeitem of storageType" value="{{stypeitem.code}}"
                          [attr.selected]="stypeitem.code==storageMesg.storageType?true:null">{{stypeitem.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group" *ngIf="flag==1">
              <label class="col-md-3 control-label">库位名称:
                <span class="required" aria-required="true">* </span>
              </label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control localName" placeholder="必填">
                </div>
              </div>
            </div>
            <div class="form-group" *ngIf="flag==1">
              <label class="col-md-3 control-label">库位类型:</label>
              <div class="col-md-4">
                <select id="localType" class="form-control">
                  <option value="">请选择</option>
                  <option *ngFor="let localtypeitem of localType" value="{{localtypeitem.code}}"
                          [attr.selected]="localtypeitem.code==storageMesg.localType?true:null">{{localtypeitem.name}}
                  </option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">所属门店:<span class="required" aria-required="true">* </span></label>
              <div class="col-md-4">
                <select id="storeCode" class="form-control">
                  <option value=""></option>
                  <option *ngFor="let stoitem of storeList;let stokey=index;"
                          [attr.selected]="stoitem.organizationCode==storageMesg.shopNo?true:null"
                          value="{{stoitem.organizationCode}}">{{stoitem.organizationName}}
                  </option>
                </select>
              </div>
            </div>

            <!-- <div class="form-group">
              <label class="col-md-3 control-label">所属部门
                <span class="required" aria-required="true">
                  * </span>
              </label>
              <div class="col-md-4">
                <select id="provCode" class="form-control">
                  <option value="">请选择</option>
                  <option *ngFor="let provitem of provList" value="{{provitem.id}}">{{provitem.name}}</option>
                </select>
              </div>
            </div> -->
        <!--    <div class="form-group">
              <label class="col-md-3 control-label">租赁时间
                <span class="required" aria-required="true">
                  * </span>
              </label>
              <div class="col-md-4">
                <input type="text" id="leaseTime" class="leaseDate form-control"
                       value="{{storageMesg.leaseTime| date:'yyyy-MM-dd'}}" readonly>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">面积</label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control area" value="{{storageMesg.area}}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">地址</label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control address" value="{{storageMesg.address}}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">联系人</label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control contact" value="{{storageMesg.contact}}">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">电话</label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control phone" value="{{storageMesg.phone}}">
                </div>
              </div>
            </div>-->
            <!-- <div class="form-group">
              <label class="col-md-3 control-label">是否禁用
                <span class="required" aria-required="true">
                  * </span>
              </label>
              <div class="col-md-4">
                <div class="md-radio-inline">
                  <div class="md-radio">
                    <input type="radio" id="isforb" name="isForbidis" title="0" class="md-radiobtn">
                    <label for="isforb">
                      <span></span>
                      <span class="check"></span>
                      <span class="box"></span>
                      是 </label>
                  </div>
                  <div class="md-radio has-error">
                    <input type="radio" id="notforb" name="isForbidis" title="1" class="md-radiobtn">
                    <label for="notforb">
                      <span></span>
                      <span class="check"></span>
                      <span class="box"></span>
                      否</label>
                  </div>
                </div>
              </div>
            </div> -->
            <!-- <div class="form-group">
              <label class="col-md-3 control-label">是否默认
                <span class="required" aria-required="true">
                  * </span>
              </label>
              <div class="col-md-4">
                <div class="md-radio-inline">
                  <div class="md-radio">
                    <input type="radio" id="isdef" name="isDefault" title="0" class="md-radiobtn">
                    <label for="isdef">
                      <span></span>
                      <span class="check"></span>
                      <span class="box"></span>
                      是 </label>
                  </div>
                  <div class="md-radio has-error">
                    <input type="radio" id="notdef" name="isDefault" title="1" class="md-radiobtn">
                    <label for="notdef">
                      <span></span>
                      <span class="check"></span>
                      <span class="box"></span>
                      否</label>
                  </div>
                </div>
              </div>
            </div> -->
            <!--  -->
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn blue" (click)="subStorage()">保存</button>
                <button type="reset" class="btn default" (click)="goBack()">取消</button>
              </div>
            </div>
          </div>
        </div>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>
<!--确认消息提示框-->
<div id="warnMsgWin" *ngIf="isShowWarnWin" class="div_dialog animated {{btn_type_css}} fadeIn">
  <div class="title_dialog" style="font-size: 19px;line-height: 16px;">系统提示:</div>
  <div class="discription_dialog" style="font-size: 15px;">{{warnMsg}}</div>
  <div class="dialog_divOperation ">
    <span class="btn_span yellow_win_btn_hover_{{btn_type_css}} one_btn_span defalut" data-name="确定"
          style="padding: 4px 17px; font-size: 14px; height: auto;"
          (click)="closeWin()">确定</span>
  </div>
</div>
<div *ngIf="isShowWarnWin" class="cpt-dw-dialog-mask animated fadeIn"
     style="background: rgba(0, 0, 0, 0.4);z-index: 10000010;transition: all 0s ease 0s;animation-duration: 0s;"></div>
<!-- 加载动图 -->
<div class="spinner" *ngIf="!isload">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
