<div class="datalist">
  <!-- BEGIN PAGE TITLE -->
  <div class="page-head">
    <div class="page-title">
      <h1>预约单列表
        <small>Reserveorder List</small>
      </h1>
    </div>
  </div>
  <!-- END PAGE TITLE -->
  <div class="row">
    <div class="col-md-12">
      <div class="portlet-body">
        <div class="contenttab">
          <!--筛选-->
          <div class="choosesx">
            <form class="form-inline">
              <div class="col-md-12">
                <div class="form-group col-md-4">
                  <label>大区筛选：</label>
                  <!--  <select class="form-control area" (change)="citylist()"> -->
                  <select id="area" class="form-control select2me area" data-placeholder="请选择门店所在大区" style="width:66%">
                    <option value="">请选择</option>
                    <option *ngFor="let item of area;let list=index;" value="{{item}}">{{item}}</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label>市区筛选：</label>
                  <!-- <select class="form-control city" (change)="shoplist()"> -->
                  <select id="city" class="form-control select2me city" data-placeholder="请选择门店所在城市" style="width:66%">
                    <option value="">请选择</option>
                    <option *ngFor="let item of citys;let list=index;" value="{{item}}">{{item}}</option>
                  </select>
                </div>
                <div class="form-group col-md-4">
                  <label>门店筛选：</label>
                  <select id="shops" class="form-control select2me shops" data-placeholder="请选择门店" style="width:66%">
                    <option value="">请选择</option>
                    <option *ngFor="let item of shops;let list=index;" value="{{item.organizationCode}}">{{item.organizationName}}</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group col-md-4">
                  <label>门店编号：</label>
                  <input type="text" class="form-control shopcode" readonly />
                </div>
                <div class="form-group col-md-4">
                  <label>预约单号：</label>
                  <input type="text" class="form-control searchorderno" />
                </div>
                <div class="form-group col-md-4">
                  <label>联系方式：</label>
                  <input type="text" class="form-control telephone" />
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group col-md-4">
                  <label>预约日期：</label>
                  <input type="text" class="form-control reservedata" id="reservedata" placeholder="请选择预约日期" />
                </div>
              </div>
              <div class="text-center">
                <span class="searchtips text-dange"></span>
                <button class="btn btn-default" type="button" (click)="reset()">重置</button>
                <button class="btn blue btn-default" type="button" (click)="shopscore()">查询</button>
                <!-- <button class="btn blue btn-default" type="button" (click)="export()">导出</button> -->
              </div>
            </form>
          </div>
          <!--筛选-->
          <div class="portlet box blue-hoki">
            <!--列表头-->
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-globe"></i>门店列表
              </div>
              <div class="actions">
                <div class="btn-group">
                  <a class="btn btn-default btn-sm" href="javascript:;" data-toggle="dropdown">
                    <i class="fa fa-cogs"></i> 排序
                    <i class="fa fa-angle-down"></i>
                  </a>
                  <ul class="dropdown-menu pull-right">
                    <li>
                      <a (click)="reservetimepx(0)">
                        <i class="fa fa-sliders"></i> 默认排序 </a>
                    </li>
                    <li>
                      <a (click)="reservetimepx(1)">
                        <i class="fa fa-sort-numeric-desc reservetimepx"></i> 评分结果</a>
                    </li>
                    <li>
                      <a (click)="reservetimepx(2)">
                        <i class="fa fa-sort-numeric-desc validetime"></i> 接待人数</a>
                    </li>
                  </ul>
                  <input type="hidden" class="ordertype"/>
                  <input type="hidden" class="orderxu"/>
                </div>
              </div>
              <!-- <div class="tools">
                  <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
                </div> -->
            </div>
            <!--列表end-->
            <!--body-->
            <div class="portlet-body">
              <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>
                        <input type="checkbox" id="parentcheckBox" (click)="parentcheckBox()" />
                      </th>
                      <th>序号</th>
                      <th>门店名称</th>
                      <th>门店性质</th>
                      <th>评分等级</th>
                      <th>接待人数</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of scorelist;let list=index;">
                      <td>
                        <input type="checkbox" name="orderids" value="{{item.orderno}}" />
                      </td>
                      <td>{{list+1}}</td>
                      <td>{{item.address}}</td>
                      <td>{{item.shoptype}}</td>
                      <td>
                          <span *ngIf="item.appraisemark>=1 && item.appraisemark<2">
                              <nz-rate [ngModel]="1" nzDisabled></nz-rate>平均{{item.appraisemark | number:'1.0-2'}}分
                          </span>
                          <span *ngIf="item.appraisemark>=2 && item.appraisemark<3">
                              <nz-rate [ngModel]="2" nzDisabled></nz-rate>平均{{item.appraisemark | number:'1.0-2'}}分
                          </span>
                          <span *ngIf="item.appraisemark>=3 && item.appraisemark<4">
                              <nz-rate [ngModel]="3" nzDisabled></nz-rate>平均{{item.appraisemark | number:'1.0-2'}}分
                          </span>
                          <span *ngIf="item.appraisemark>=4 && item.appraisemark<5">
                              <nz-rate [ngModel]="4" nzDisabled></nz-rate>平均{{item.appraisemark | number:'1.0-2'}}分
                          </span>
                        <span *ngIf="item.appraisemark>=5">
                            <nz-rate [ngModel]="5" nzDisabled></nz-rate>平均{{item.appraisemark | number:'1.0-2'}}分
                        </span>
                          
                      </td>
                      <td>{{item.population}}</td>
                      <td>
                        <a class="btn btn-xs btn-info green" routerLink='/oms/scoredetail' [queryParams]="{code:item.code,page:pageNo}">
                          <i class="fa fa-edit"></i> 查看</a>
                      </td>
                    </tr>
                    <tr *ngIf="nodata">
                      <td colspan="7" style="text-align:center;padding:10px;">暂时还没有数据</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--分页页码-->
              <div class="clearfix box">
                <div id="pagination1" class="page fr"></div>
              </div>
              <!--分页页码end-->
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isload">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div id="hint" *ngIf="isHint">
  <div class="hintMsg">
    <i *ngIf="warning" class="warningMsg"></i>
    <i *ngIf="!warning" class="ok"></i>
    <span>{{hintMsg}}</span>
  </div>
</div>