/* 返回 */

.back_hand {
    cursor: pointer
  }
  
  .portlet-title {
    border-bottom: 1px solid #eee;
    padding: 0;
    margin-bottom: 10px;
  }
  
  .portlet-title .caption {
    display: inline-block;
    font-size: 16px;
    line-height: 16px;
    padding: 10px 0;
  }
  
  .prod1 {
    height: 510px;
  }
  
  /* tab1 基本信息 */
  
  .proattr {
    height: 180px;
    overflow-y: auto;
  }
  
  /* 去除表格底部横线 */
  
  table.dataTable.no-footer {
    border-bottom: 1px solid #f9f9f9;
  }
  
  /* tab1 产品分类树 */
  
  .content_wrap_base {
    position: absolute;
    height: 200px;
    width: 93%;
    overflow-y: auto;
    background-color: #fff;
    z-index: 99;
    border: 1px solid #e5e5e5;
  }
  
  /* 树的样式 */
  
  /* 
      .leftall {
        height: 480px;
      } */
  
  .content_wrap {
    margin-top: -15px;
    /* border: 1px solid #efefef; */
    height: 450px;
    overflow-y: auto;
  }
  
  /* 滚动条 */
  
  .mtall {
    height: 400px;
    overflow-y: auto;
  }
  
  .mtall1 {
    height: 435px;
    overflow-y: auto;
  }
  
  .content_wrap .thirdclick,
  .fifclick {
    opacity: 0;
  }
  
  /* tab1 高度 */
  
  .detailPro {
    height: 460px;
    overflow-y: auto;
    border-bottom: 1px solid #ddd
  }
  
  .tab_footer {
    padding-top: 5px;
    text-align: center;
  }
  
  /* tab3右侧显示的样式 */
  
  .mtctitle {
    margin: 0 0 10px 0;
    padding: 7px 30px 7px 15px;
    border-left: 5px solid #eee;
    background-color: #eef7ea;
    border-color: #c9e2b3;
    color: #3c763d;
  }
  
  /*  */
  
  .showPic {
    overflow: hidden;
  }
  
  .item_pic {
    float: left;
    margin: 0 0 5px 2px;
    width: 195px;
    height: 170px;
    position: relative;
  }
  
  .item_pic img {
    width: 195px;
    height: 150px;
    margin-bottom: 2px
  }
  
  /* 选择框居中 */
  
  .md-checkbox {
    position: relative;
    width: 18px;
    margin: 0 auto;
  }
  
  /* 图片长传 主图标志 */
  
  .sign {
    position: absolute;
    left: 70%;
    top: 74%;
  }
  