.myclick,.moveclick,.rightclick{border:none;background: none;}
.pleftTree{
    width: 90%;
    height: 500px;
    overflow: hidden
}
.zTreeDemoBackground{
    width: 107%;
    height: 490px;
    overflow: auto;
}
.col-md-12{
    padding-left: 0 ;
}
.col-md-3{
    padding-left: 10px;
}
.contenttab{
    padding-top: 0;
}