<div class="row">
  <div class="col-md-12">
    <div class="portlet box blue-hoki">
      <div class="portlet-title">
        <div class="caption">
          尾款通知单管理
        </div>
      </div>
      <div class="portlet-body">
        <!-- addedit -->
        <!-- search -->
        <form class="form-horizontal" id="ffSearch">
          <div class="row margin-search sec_line">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label col-md-4">通知单号:</label>
                <div class="col-md-8">
                  <input id="orderNo" name="orderNo" type="text" class="form-control">
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label col-md-4">开始时间:</label>
                <div class="col-md-8">
                  <input type="text" id="beginTime" class="startDate form-control" readonly>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label col-md-4">结束时间:</label>
                <div class="col-md-8">
                  <input type="text" id="endTime" class="endDate form-control" readonly>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="form-group">
                <label class="control-label col-md-4">状态:</label>
                <div class="col-md-8">
                  <select id="orderStatus" class="form-control">
                    <!--<option value="">请选择</option>-->
                    <option value="1" selected>待审核</option>
                    <option value="2">已审核</option>
                    <option value="3">审核失败</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="text-align:center;">
            <div class="form-group">
              <button id="btnSearch" type="button" class="btn default" (click)="initBalancePaymentNoticeList()">查询
                <i class="fa fa-search"></i>
              </button>
              <button id="btnReset" type="button" class="btn default" (click)="resetAllocate()">
                <i class="fa fa-times"></i>重置</button>
            </div>
          </div>
          <!--  -->
        </form>
        <!-- table -->
        <div id="sample_6_wrapper" class="dataTables_wrapper no-footer">
          <div class="table-scrollable">
            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="sample_6" role="grid"
              aria-describedby="sample_6_info">
              <thead>
                <tr>
                  <th> 通知单号 </th>
                  <th> 订单号 </th>
                  <th> 外部订单号 </th>
                  <th> 售价金额 </th>
                  <th> 定金金额 </th>
                  <th> 尾款金额 </th>
                  <th> 通知单状态 </th>
                  <th> 创建时间 </th>
                  <th> 处理人 </th>
                 <!-- <th> 处理时间 </th>-->
                  <th> 操作</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngIf="recordTotal==0">
                  <td class="text-center" colspan="14">没有相关记录~</td>
                </tr>
                <tr role="row" class="odd" *ngFor="let alloitem of noticeList;let key=index">
                  <td> {{alloitem.noticeNo?alloitem.noticeNo:"——"}}</td>
                  <td>
                    <a (click)="getOrderItemInfo(alloitem.orderNo,1)">{{alloitem.orderNo}}</a>
                  </td>
                  <td> {{alloitem.outOrderNo?alloitem.outOrderNo:"——"}}</td>
                  <td>{{alloitem.saleAmount}}</td>
                  <td>{{alloitem.depositAmount}}</td>
                  <td>{{alloitem.balanceAmount}}</td>
                  <!-- 状态 -->
                  <td *ngIf="alloitem.noticeOrderStatus==1">
                    <span class="label label-sm label-success">待审核</span>
                  </td>
                  <td *ngIf="alloitem.noticeOrderStatus==2">
                    <span class="label label-sm label-success">已审核</span>
                  </td>
                  <td *ngIf="alloitem.noticeOrderStatus==3">
                    <span class="label label-sm label-warning">已退回</span>
                  </td>
                  <td *ngIf="alloitem.noticeOrderStatus==-1">
                    <span class="label label-sm label-warning">审核失败</span>
                  </td>
                  <td>
                    {{alloitem.createdTime? '':"——"}}
                    {{alloitem.createdTime | date:'yyyy-MM-dd HH:mm:ss'}}
                  </td>
                  <td> {{alloitem.operUser?alloitem.operUser:"——"}}</td>
                 <!-- <td>
                    {{alloitem.operTime? '':"——"}}
                    {{alloitem.operTime | date:'yyyy-MM-dd HH:mm:ss'}}
                  </td>-->
                  <td>
                    <!--  <a href="javascript:;" class="btn btn-xs green" (click)="showOrderDetail(alloitem.noticeNo,'r')">
                      查看 <i class="fa fa-edit"></i>
                    </a>-->
                    <a *ngIf="alloitem.noticeOrderStatus==1" href="javascript:;" class="btn btn-xs green" (click)="showOrderDetail(alloitem.noticeNo,alloitem.noticeOrderStatus,alloitem.processId,'u')">
                      审核 <i class="fa fa-edit"></i>
                    </a>
                    <a *ngIf="alloitem.noticeOrderStatus!=1" href="javascript:;" class="btn btn-xs blue" (click)="showOrderDetail(alloitem.noticeNo,alloitem.noticeOrderStatus,alloitem.processId,'r')">
                      查看 <i class="fa fa-search"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="clearfix">
            <div id="pagination1" class="page"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 订单详情弹窗 -->
<app-orderdetail #orderdetail></app-orderdetail>
<!--确认消息提示框-->
<div id="warnMsgWin" *ngIf="isShowWarnWin" class="div_dialog animated {{btn_type_css}} fadeIn">
  <div class="title_dialog" style="font-size: 19px;line-height: 16px;">系统提示:</div>
  <div class="discription_dialog" style="font-size: 15px;">{{warnMsg}}</div>
  <div class="dialog_divOperation ">
    <span class="btn_span yellow_win_btn_hover_{{btn_type_css}} one_btn_span defalut" data-name="确定" style="padding: 4px 17px; font-size: 14px; height: auto;"
      (click)="closeWin()">确定</span>
  </div>
</div>
<div *ngIf="isShowWarnWin" class="cpt-dw-dialog-mask animated fadeIn" style="background: rgba(0, 0, 0, 0.4);z-index: 10000010;transition: all 0s ease 0s;animation-duration: 0s;"></div>

<!--确认删除弹窗end-->
<!-- 加载动图 -->
<div class="spinner" *ngIf="!isload">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
