<div class="row">
  <div class="col-md-12">
    <div class="portlet box blue-hoki">
      <div class="portlet-title">
        <div class="caption">
          <i class="glyphicon glyphicon-chevron-left back_hand" (click)="goBack()"></i>编辑门店
        </div>
        <!-- <div class="tools">
          <a href="javascript:;" class="collapse">
          </a>
          <a href="javascript:;" class="reload">
          </a>
        </div> -->
      </div>
      <div class="portlet-body form">
        <!-- BEGIN FORM-->
        <div class="form-horizontal">
          <div class="form-body">
            <div class="form-group">
              <label class="col-md-3 control-label">门店名称
                <span class="required" aria-required="true">
                  * </span>
              </label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control stoName" name="stoName" placeholder="必填" value="{{stoName}}" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">门店编码
                <span class="required" aria-required="true">
                  * </span>
              </label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" readonly="readonly" class="form-control stoCode" name="stoCode" placeholder="必填" value="{{stoCode}}"
                  />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">所属上级
                <span class="required" aria-required="true">
                  * </span>
              </label>
              <div class="col-md-4">
                <input type="text" id="parent" class="form-control parId" name="parentCode" placeholder="必填"
              value="{{parentOrgName}}" (focus)="loadAddTree('parId','edittreeDemo','edit_Tree')" (keydown.enter)="searchItem('parId','edittreeDemo')"/>
              <div id="edit_Tree" style="display:none;max-height: 200px;overflow-y: auto">
                  <input type="hidden" name="onedit">
                  <button class="editclick" (click)="editclick()" style="opacity: 0;display: none;"></button>
                  <div class="zTreeDemoBackground">
                    <ul id="edittreeDemo" class="ztree"></ul>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">经营类型
                <span class="required" aria-required="true">
                  * </span>
              </label>
              <div class="col-md-4">
                  <div class="md-radio-inline">
                      <div class="md-radio" *ngFor="let draitem of optwayList;let drakey=index;">
                        <input type="radio" id="optype_{{drakey}}" name="opeType" title="{{draitem.code}}" class="md-radiobtn" disabled>
                        <label for="optype_{{drakey}}">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span>
                          {{draitem.name}} </label>
                      </div>
                    </div>
                <!-- 加盟-->
                <!-- <div *ngIf="!isShow">
                  <div class="form-group">
                    <label class="col-md-4 control-label">加盟商名称
                      <span class="required" aria-required="true">
                        * </span>
                    </label>
                    <div class="col-md-8">
                      <div class="input-icon">
                        <i class="fa fa-bell-o"></i>
                        <input type="text" class="form-control franName" name="franName" placeholder="必填" value="{{franName}}" />
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="col-md-4 control-label">编码
                      <span class="required" aria-required="true">
                        * </span>
                    </label>
                    <div class="col-md-8">
                      <div class="input-icon">
                        <i class="fa fa-bell-o"></i>
                        <input type="text" class="form-control franCode" name="franCode" placeholder="必填" value="{{franCode}}" />
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">联系方式
                <!-- <span class="required" aria-required="true">
                    * </span> -->
              </label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control tel" name="tel" placeholder="非必填" value="{{tel}}" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">传真
                <!-- <span class="required" aria-required="true">
                    * </span> -->
              </label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control fax" name="fax" placeholder="非必填" value="{{fax}}" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">负责人
                <!-- <span class="required" aria-required="true">
                    * </span> -->
              </label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control sOwer" name="sOwer" placeholder="非必填" value="{{sOwer}}" />
                </div>
              </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label">省市区
                  <span class="required" aria-required="true">
                    * </span>
                </label>
                <div class="col-md-5">
                  <select id="province" class="form-control input-small input-inline" (change)="disCity()">
                    <option value="">--请选择--</option>
                    <option *ngFor="let provitem of provList;let provkey=index" value="{{provitem.id}}">{{provitem.name}}</option>
                  </select>
                  <select id="city" class="form-control input-small input-inline" (change)="disArea()">
                    <option value="">--请选择--</option>
                    <option *ngFor="let cityitem of cityList;let citykey=index" value="{{cityitem.id}}">{{cityitem.name}}</option>
                  </select>
                  <select id="area" class="form-control input-small input-inline">
                    <option value="">--请选择--</option>
                    <option *ngFor="let areaitem of areaList;let areakey=index" value="{{areaitem.id}}">{{areaitem.name}}</option>
                  </select>
                </div>
              </div>
            <div class="form-group">
              <label class="col-md-3 control-label">详细地址
                <!-- <span class="required" aria-required="true">
                    * </span> -->
              </label>
              <div class="col-md-4">
                <div class="input-icon">
                  <i class="fa fa-bell-o"></i>
                  <input type="text" class="form-control sAddress" name="sAddress" placeholder="非必填" value="{{sAddress}}" />
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="col-md-3 control-label">可售渠道
                <span class="required" aria-required="true">
                  * </span>
              </label>
              <div class="col-md-9">
                  <div class="md-checkbox-inline">
                      <div class="md-checkbox" *ngFor="let chanitem of channelList;let chankey=index">
                        <input type="checkbox" *ngIf="chanitem.sid!=1" id="checkbox{{chanitem.sid}}" name="channel" title="{{chanitem.sid}}" class="md-check">
                        <input type="checkbox" *ngIf="chanitem.sid==1" id="checkbox{{chanitem.sid}}" name="channel" title="{{chanitem.sid}}"
                          class="md-check" checked disabled>
                        <label for="checkbox{{chanitem.sid}}">
                          <span></span>
                          <span class="check"></span>
                          <span class="box"></span>
                          {{chanitem.channelName}} </label>
                      </div>
                    </div>
                <!--  -->
              </div>
            </div>
            <!--  -->
          </div>
          <div class="form-actions">
            <div class="row">
              <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn blue" (click)="subStore()">保存</button>
                <button class="btn default" (click)="goBack()">取消</button>
              </div>
            </div>
          </div>
        </div>
        <!-- END FORM-->
      </div>
    </div>
  </div>
</div>
<!--确认消息提示框-->
<div id="warnMsgWin" *ngIf="isShowWarnWin" class="div_dialog animated {{btn_type_css}} fadeIn">
  <div class="title_dialog" style="font-size: 19px;line-height: 16px;">系统提示:</div>
  <div class="discription_dialog" style="font-size: 15px;">{{warnMsg}}</div>
  <div class="dialog_divOperation ">
    <span class="btn_span yellow_win_btn_hover_{{btn_type_css}} one_btn_span defalut" data-name="确定" style="padding: 4px 17px; font-size: 14px; height: auto;"
      (click)="closeWin()">确定</span>
  </div>
</div>
<div *ngIf="isShowWarnWin" class="cpt-dw-dialog-mask animated fadeIn" style="background: rgba(0, 0, 0, 0.4);z-index: 10000010;transition: all 0s ease 0s;animation-duration: 0s;"></div>
<!-- 加载动图 -->
<div class="spinner" *ngIf="!isload">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>