<div class="header">
    <h2>修改文章大类<small>Article&nbsp; modify</small></h2>

</div>

<div class="modify">
    <form class="form-horizontal" [formGroup]="formModel">
        <div class="FTPbox" *ngFor="let item of ftpArray;let key=index;">
            <div class="col-md-12">
                <label class="col-md-2 control-label">
                    <span style="color:red;">*</span>分类编码：</label>
                <div class="col-md-8">
                    <input readonly class="form-control" [class.hasError]="formModel.get('code').invalid && formModel.get('code').touched"
                        type="text" formControlName="code" name="code" [(ngModel)]="codes" placeholder="请输入分类编码" id="code" />
                    <div [hidden]="formModel.get('code').untouched">
                        <div class="formtips" [hidden]="!formModel.hasError('required',['code'])">
                            分类编码必填
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="col-md-2 control-label">
                    <span style="color:red;">*</span>分类序号：</label>
                <div class="col-md-8">
                    <input class="form-control" [class.hasError]="formModel.get('serialNumber').invalid && formModel.get('serialNumber').touched"
                        type="text" formControlName="serialNumber" name="serialNumber" [(ngModel)]="serialNumbers"
                        placeholder="请输入分类序号" id="serialnumer" />
                    <div [hidden]="formModel.get('serialNumber').untouched">
                        <div class="formtips" [hidden]="!formModel.hasError('required',['serialNumber'])">
                            分类序号必填
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <label class="col-md-2 control-label">
                    <span style="color:red;">*</span>分类名称：</label>
                <div class="col-md-8">
                    <input class="form-control" [class.hasError]="formModel.get('name').invalid && formModel.get('name').touched"
                        type="text" formControlName="name" name="name" [(ngModel)]="names" placeholder="请输入分类名称" id="name" />
                    <div [hidden]="formModel.get('name').untouched">
                        <div class="formtips" [hidden]="!formModel.hasError('required',['name'])">
                            分类名称必填
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </form>
    <div class="anniu">
        <button class="btn" (click)="goback()">返回</button>
        <button class="btn btn-success" [disabled]="formModel.invalid" (click)='edit()'>修改</button>
    </div>
</div>
<div id="hint" *ngIf="isHint">
    <div class="hintMsg">{{hintMsg}}</div>
</div>