#tab-content .row label,#tab-content2 .row label{
    text-align: left;
    word-wrap: break-word;
}
.tab-orders {
  background-color: #f9f9f9;
}
fieldset{padding:.35em .625em .75em;margin:0 2px;border:1px solid silver}
legend{padding:.5em;border:0;width:auto}