<div class="datalist">
  <!-- BEGIN PAGE TITLE -->
  <div class="page-head">
    <div class="page-title">
      <h1>门店评分
        <small>Reserveorder Status</small>
      </h1>
    </div>
  </div>
  <!-- END PAGE TITLE -->
  <div class="row">
    <div class="col-md-12">
      <div class="portlet-body">
        <div class="contenttab">
          <div class="clearfix" style="margin-bottom: 20px;">
            <div class="btn-group" data-toggle="buttons">
              <label class="btn btn-default" (click)="switchType('verify')">
                <input type="radio" class="toggle"> 门店验证 </label>
              <label class="btn btn-default active" (click)="switchType('reserve')">
                <input type="radio" class="toggle">订单管理</label>
              <label class="btn btn-default" (click)="switchType('score')">
                <input type="radio" class="toggle"> 门店评分 </label>
            </div>
          </div>
          <!-- 预约单列表 -->
          <div class="portlet box blue-hoki">
            <!--列表头-->
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-globe"></i>预约单列表
              </div>
              <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
              </div>
            </div>
            <!--列表end-->
            <!--body-->
            <div class="portlet-body">
              <div class="choosesx">
                <form class="form-inline">
                  <div class="col-md-12">
                    <div class="form-group col-md-4">
                      <label for="f1">订单来源：</label>
                      <select class="form-control origin">
                        <option value="">请选择</option>
                        <option value="本网">本网</option>
                        <option value="天猫">天猫</option>
                        <option value="京东">京东</option>
                        <option value="婚礼纪">婚礼纪</option>
                        <option value="飞凡">飞凡</option>
                        <option value="大众点评">大众点评</option>
                        <option value="洽客">洽客</option>
                        <option value="婚博">婚博</option>
                        <option value="尚品">尚品</option>
                      </select>
                    </div>
                    <div class="form-group col-md-4">
                      <label>预约单号：</label>
                      <input type="text" class="form-control searchorderno" />
                    </div>
                    <div class="form-group col-md-4">
                      <label>联系方式：</label>
                      <input type="text" class="form-control telephone" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group col-md-4">
                      <label>预约日期：</label>
                      <input type="text" class="form-control reservedata" id="reservedata" placeholder="请选择预约日期" />
                    </div>
                    <div class="form-group col-md-4">
                      <label>预约状态：</label>
                      <select id="orderstates" class="form-control select2me orderstates" multiple="multiple" style="width:66%">
                        <option value="">请选择</option>
                        <option *ngFor="let item of reservestatelist;let list=index;" value="{{item.sequence}}">{{item.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="text-center">
                    <span class="searchtips text-dange"></span>
                    <button class="btn btn-default" type="button" (click)="reset()">重置</button>
                    <button class="btn blue btn-default" type="button" (click)="reservelist()">查询</button>
                    <button class="btn blue btn-default" type="button" (click)="export()">导出</button>
                  </div>
                </form>
              </div>
              <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover">
                  <thead>
                    <tr>
                      <th>
                        <input type="checkbox" id="parentcheckBox" (click)="parentcheckBox()" />
                      </th>
                      <th>序号</th>
                      <th>预约单来源</th>
                      <th>活动名称</th>
                      <th>预约单号</th>
                      <th>所属门店</th>
                      <th>预约日期/时间</th>
                      <th>下单日期</th>
                      <th>姓名</th>
                      <th>联系方式</th>
                      <th>预约备注</th>
                      <th>预约单状态</th>
                      <th>购买情况</th>
                      <th>分配客服</th>
                      <th>下单客服</th>
                      <th>提醒门店</th>
                      <th>操作</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of reservelists;let list=index;">
                      <td>
                        <input type="checkbox" name="orderids" value="{{item.orderno}}" />
                      </td>
                      <td>{{list}}</td>
                      <td>{{item.origin}}</td>
                      <td>
                        <span *ngIf="item.activityname!=null">{{item.activityname}}</span>
                        <span *ngIf="item.activityname==null || item.activityname==''">--</span>
                      </td>
                      <td>
                        <!--已填写赠品地址-->
                        <span>{{item.orderno}}</span>
                        <!--未填写赠品地址-->
                        <span>{{item.orderno}}</span>
                      </td>
                      <td>{{item.code}}-{{item.address}}</td>
                      <td>{{item.reservedate | slice:0:10}} {{item.reservetime}}</td>
                      <td>{{item.createdate}}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.telephone}}</td>
                      <td>
                        <span *ngIf="item.remark!=null">{{item.remark}}</span>
                        <span *ngIf="item.remark==null ||item.remark==''">--</span>
                      </td>
                      <td>
                        <span *ngIf="item.statename!=null">{{item.statename}}</span>
                        <span *ngIf="item.statename==null || item.statename==''">--</span>
                      </td>
                      <td>
                        <span *ngIf="item.purchase==1">已购买</span>
                        <span *ngIf="item.purchase!=1">未购买</span>
                      </td>
                      <td>
                        <span *ngIf="item.registername!=null">{{item.registername}}</span>
                        <span *ngIf="item.registername==null || item.registername==''">--</span>
                      </td>
                      <td>
                        <span *ngIf="item.kefuname!=null">{{item.kefuname}}</span>
                        <span *ngIf="item.kefuname==null || item.kefuname==''">--</span>
                      </td>
                      <td>
                        <span *ngIf="item.remind">已提醒</span>
                        <span *ngIf="!item.remind">未提醒</span>
                      </td>
                      <td>
                        <a class="btn btn-xs btn-info green" routerLink='/oms/reserve/credetail' [queryParams]="{id:item.orderno}">
                          <i class="fa fa-edit"></i> 查看</a>
                      </td>
                    <tr *ngIf="nodata">
                      <td colspan="10" style="text-align:center;padding:10px;">暂时还没有数据</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!--分页页码-->
              <div class="clearfix box">
                <div id="pagination1" class="page fr"></div>
              </div>
              <!--分页页码end-->
            </div>
          </div>
          <!-- 预约单详情 -->
          <!-- <div class="portlet box blue-hoki">
            <div class="portlet-body">
              <app-reserdetail #reserdetail></app-reserdetail>
            </div>
          </div> -->

        </div>
      </div>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isload">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div id="hint" *ngIf="isHint">
  <div class="hintMsg">
    <i *ngIf="warning" class="warningMsg"></i>
    <i *ngIf="!warning" class="ok"></i>
    <span>{{hintMsg}}</span>
  </div>
</div>
