input {
  border: 1px solid rgb(169, 169, 169);
}

th,
td {
  text-align: center;
}

td {
  white-space: nowrap;
}

a {
  text-decoration: none;
}

/* 查询 */

.sec_line {
  margin-top: 15px;
}

.row {
  margin-right: 0;
}

/* 去除表格底部横线 */

table.dataTable.no-footer {
  border-bottom: 1px solid #f9f9f9;
}
