<div class="datalist">
  <!-- BEGIN PAGE TITLE -->
  <div class="page-head">
    <div class="page-title">
      <h1>活动赠品
        <small>Activity Freebie</small>
      </h1>
    </div>
  </div>
  <!-- END PAGE TITLE -->
  <div class="row">
    <div class="col-md-12">
      <div class="portlet-body">
        <div class="contenttab">

          <div class="choosesx">
            <form class="form-inline">
              <div class="form-group col-md-3">
                <label >活动规则编号：</label>
                <input type="text" class="form-control activityRuleSid" placeholder="活动规则编号" />
              </div>
              <div class="form-group col-md-3">
                <label >SKU编码：</label>
                <input type="text" class="form-control skuCode" placeholder="SKU编码" />
              </div>
              <div class="form-group col-md-3">
                <label >SKU名称：</label>
                <input type="text" class="form-control skuName" placeholder="SKU名称" />
              </div>
              <button class="btn btn-default" type="button" (click)="reset()">重置</button>
              <button class="btn green btn-default" type="button" (click)="getFreebieList()">查询</button>
            </form>
          </div>

          <div style="clear:both;height:10px;"></div>
          <div class="portlet box blue-hoki" style="margin-top: 15px;">

            <!--列表头-->
            <div class="portlet-title">
              <div class="caption">
                <i class="fa fa-globe"></i>活动赠品
              </div>
              <div class="tools">
                <a href="javascript:;" class="collapse" data-original-title="" title=""></a>
              </div>
            </div>
            <!--列表end-->

            <div class="portlet-body">
              <div class="table-scrollable">
                <table class="table table-striped table-bordered table-hover ">
                  <thead>
                  <tr>
                    <th style="width:10%">
                      活动规则编号
                    </th>
                    <th style="width:20%">
                      SKU编码
                    </th>
                    <th style="width:20%">
                      SKU名称
                    </th>
                    <th style="width:20%">
                      创建时间
                    </th>
                    <th style="width:20%">
                      操作
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr *ngFor="let item of freebieList">
                    <td>{{item.activityRuleSid}}</td>
                    <td>{{item.skuCode}}</td>
                    <td>{{item.skuName}}</td>
                    <td>
                      <span *ngIf="item.createTime==null">--</span>
                      <span *ngIf="item.createTime!=null">{{item.createTime | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                    </td>
                    <td>
                      <a class="btn btn-xs btn-info" routerLink='/activity/freebiedetail' [queryParams]="{sid:item.sid,page:pageNo}">
                        <i class="fa fa-file-pdf-o"></i>查看详情</a>
                    </td>
                  </tr>
                  <tr *ngIf="nodata">
                    <td colspan="7" style="text-align:center;padding:10px;">暂时还没有数据</td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!--分页页码-->
              <div class="clearfix box">
                <div id="pagination1" class="page fr"></div>
              </div>
              <!--分页页码end-->

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="spinner" *ngIf="loading">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<div id="hint" *ngIf="isHint">
  <div class="hintMsg">
    <i *ngIf="warning" class="warningMsg"></i>
    <i *ngIf="!warning" class="ok"></i>
    <span>{{hintMsg}}</span>
  </div>
</div>

