<div class="container">
  <div class="addition">
    <div class="header">添加轮播图</div>
    <p class="line"></p>
    <div class="content">
      <div class="name_wrap">
        轮播图名称 &nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="add_name">
      </div>
      <div class="num_wrap">
        置顶值 &nbsp;: &nbsp;&nbsp;&nbsp;&nbsp;
        <input type="text" class="add_num">
      </div>
      <div class="img_box">
        图片 &nbsp;:&nbsp;
        <div class="img"><img src="" alt=""></div> 
        <button class="choose_img">选择文件</button>
        <div class="notice">未选择任何文件</div>
      </div>
      <div class="btn_wrap">
        <input type="button" value="保存">
        <input type="button" value="返回">
      </div>
    </div>
  </div>
</div>