<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>添加页面模板
        <small>Add Page Template</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="contenttab">
        <form class="templatecon form-horizontal" [formGroup]="formModel" (submit)="onSubmit()">
          <div class="form-group">
            <label class="col-md-2 control-label">
              <span style="color:red;">*</span>页面名称：</label>
            <div class="col-md-8">
              <input class="form-control" [class.hasError]="formModel.get('pagename').invalid && formModel.get('pagename').touched"
                type="text" formControlName="pagename" name="pagename" [(ngModel)]="pagename" placeholder="请输入页面名称">
              <div [hidden]="formModel.get('pagename').untouched">
                <div class="formtips" [hidden]="!formModel.hasError('required',['pagename'])">
                  页面名称必填
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">
              <span style="color:red;">*</span>页面地址名称：</label>
              <div class="col-md-8">
                  <input class="form-control" [class.hasError]="formModel.get('pagenameadd').invalid && formModel.get('pagenameadd').touched"
                    type="text" formControlName="pagenameadd" name="pagenameadd" [(ngModel)]="pagenameadd" placeholder="请输入页面地址名称">
                  <div [hidden]="formModel.get('pagenameadd').untouched">
                    <div class="formtips" [hidden]="!formModel.hasError('required',['pagenameadd'])">
                      页面地址名称必填
                    </div>
                  </div>
                </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">
              <span style="color:red;">*</span>页面整体模板：</label>
            <div class="col-md-8">
              <textarea class="form-control" [class.hasError]="formModel.get('pagetemp').invalid && formModel.get('pagetemp').touched"
                type="text" formControlName="pagetemp" name="pagetemp" [(ngModel)]="pagetemp" placeholder="请填写页面模板" style="min-height:300px"></textarea>
              <div [hidden]="formModel.get('pagetemp').untouched">
                <div class="formtips" [hidden]="!formModel.hasError('required',['pagetemp'])">
                  商户id必填
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">
              <span style="color:red;">*</span>是否启用：</label>
            <div class="col-md-8">
              <div class="switch" data-on="success" data-off="warning">
                <input type="checkbox" checked name="businessenabled" />
              </div>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-3 control-label">
              <button type="submit" class="btn purple" id="save" [disabled]="formModel.invalid">保存</button>
              <button type="reset" class="btn blue-hoki">重置</button>
              <button type="button" class="btn default" (click)="goback()">返回</button>
            </label>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="spinner" *ngIf="isload">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div id="hint" *ngIf="isHint">
    <div class="hintMsg">
      <i *ngIf="warning" class="warningMsg"></i>
      <i *ngIf="!warning" class="ok"></i>
      <span>{{hintMsg}}</span>
    </div>
  </div>