/* .row {
  display: none;
} */

.modal .modal-header {
  border-bottom: 1px solid red;
}

/* 高度 */

.allContainer {
  background-color: #fff;
}

.portlet {
  margin-bottom: 0px;
}

.content_wrap {
  margin-top: 10px;
  /* border: 1px solid #efefef; */
  height: 445px;
  overflow-y: auto;
}

th,
td {
  text-align: center;
}

.detshow_tr th,
.detshow_tr td {
  text-align: center;
}

.allList {
  height: 390px;
  overflow-y: auto;
  overflow-x: hidden;
}

/* 维护 选择框 居中 */

.md-checkbox {
  position: relative;
  width: 18px;
  margin: 0 auto;
}

/*  维护 右侧列表*/

.rgList li {
  cursor: pointer;
}