.modify{
    width: 100%;
    height: 100%;
    background-color: white;
    padding: 15px;
    box-sizing: border-box;
}
label{
    text-align: right;
}
.anniu{
    display: inline-block;
    width: 100%;        
    height: 89px;
    margin-top: 20px;
    margin-left: 10%;
    }
    .col-md-12{
        margin-top: 20px;
    }