<div class="page-head">
  <!-- BEGIN PAGE TITLE -->
  <div class="page-title">
    <h1>范围信息
      <small>Label Message</small>
    </h1>
  </div>
  <!-- END PAGE TITLE -->
</div>
<div class="row">
  <div class="col-md-12">
    <div class="contenttab">
      <form class="templatecon form-horizontal">
        <div class="form-group">
          <label class="col-md-2 control-label">ID：
          </label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="sid" value="{{sid}}" disabled/>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">活动编号：
          </label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="activitySid" value="{{activitySid}}" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">范围类型：
          </label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="type" value="{{type}}" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">范围编号：
          </label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="scopeCode" value="{{scopeCode}}" disabled >
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">范围名称：
          </label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="scopeName" value="{{scopeName}}" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">创建时间：
          </label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="createTime" value="{{createTime | date:'yyyy-MM-dd HH:mm:ss'}}" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label">更新时间：
          </label>
          <div class="col-md-8">
            <input class="form-control" type="text" name="updateTime" value="{{updateTime | date:'yyyy-MM-dd HH:mm:ss'}}" disabled>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-2 control-label"></label>
          <div class="col-md-8">
            <button type="button" class="btn default" (click)="goback()">返回</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="spinner" *ngIf="isload">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>
<div id="hint" *ngIf="isHint">
  <div class="hintMsg">
    <i *ngIf="warning" class="warningMsg"></i>
    <i *ngIf="!warning" class="ok"></i>
    <span>{{hintMsg}}</span>
  </div>
</div>
