<div class="page-head">
    <!-- BEGIN PAGE TITLE -->
    <div class="page-title">
      <h1>退款信息详情
        <small>Refund Message Detail</small>
      </h1>
    </div>
    <!-- END PAGE TITLE -->
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="contenttab">
        <form class="templatecon form-horizontal">
          <div class="form-group">
            <label class="col-md-2 control-label">订单号：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{mchOrderNo}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">退款单号：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{mchRefundNo}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">退款金额：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{refundAmount}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">订单状态：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{status}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">手续费：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{poundageAmount}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">退款时间：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{refundTime | date:'yyyy-MM-dd HH:mm:ss'}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">退款成功时间：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{refundSuccTime| date:'yyyy-MM-dd HH:mm:ss'}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">优惠券金额：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{couponAmount}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">退款交易状态</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{enabled}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">商家ID:</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{mchId}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">用户ID：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{uid}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">退款订单ID：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{refundOrderId}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label">创建时间：</label>
            <div class="col-md-8">
              <input class="form-control" type="text" value="{{createTime | date:'yyyy-MM-dd HH:mm:ss'}}" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-2 control-label"></label>
            <div class="col-md-8">
              <button type="button" class="btn default" (click)="goback()">返回</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="spinner" *ngIf="isload">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
  <div id="hint" *ngIf="isHint">
    <div class="hintMsg">
      <i *ngIf="warning" class="warningMsg"></i>
      <i *ngIf="!warning" class="ok"></i>
      <span>{{hintMsg}}</span>
    </div>
  </div>