<div class="header">
    <h2>
        新增文章
        <small>Add an article</small>
    </h2>
</div>
<div class="modify">
    <form  class="form-horizontal" [formGroup]="formModel">
        <div class="col-md-12">
            <label class="col-md-2 control-label">文章大类:</label>
            <div class="col-md-8">
                    <input type="text" value="{{cname}}" readonly>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-2 control-label"><span style="color:red;">*</span>文章子类：</label>
            <div class="col-md-8">
                <select id="subCode" [class.hasError]="formModel.get('subCode').invalid && formModel.get('subCode').touched"
                        formControlName="subCode" [(ngModel)]="subCode">
                    <option value="">请选择子类</option>
                    <option *ngFor='let data of list' value="{{data.subCode}}" [attr.selected]="data.subCode==subCode?'':null">{{data.name}}</option>
                </select>
                <div [hidden]="formModel.get('subCode').untouched">
                  <div class="formtips" [hidden]="!formModel.hasError('required',['subCode'])">
                   文章子类必填
                  </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-2 control-label">序号：</label>
            <div class="col-md-8">
                    <input type="text" name="artNum" class="form-control" id="artNum"  value="" onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')">
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-2 control-label">
                    <span style="color:red;">*</span>标题：</label>
            <div class="col-md-8">
                <input  class="form-control" [class.hasError]="formModel.get('heading').invalid && formModel.get('heading').touched"
                type="text" formControlName="heading" [(ngModel)]="heading" placeholder="请输入标题" name="heading" id="heading" value="">
                <div [hidden]="formModel.get('heading').untouched">
                        <div class="formtips" [hidden]="!formModel.hasError('required',['heading'])">
                                标题必填
                            </div>
                </div>
                
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-2 control-label">副标题：</label>
            <div class="col-md-8">
                <input type="text" name="subHeading" class="form-control" id="subHeading" value="">
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-2 control-label">文章标签：</label>
            <div class="col-md-8">
                <select id="selectTag">
                    <option value="">请选择标签</option>
                    <option id="tagCode" *ngFor='let data of taglist' value="{{data.tagCode}}" >{{data.tagName}}</option>
                </select>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-2 control-label">发布时间：</label>
            <div class="col-md-8">
              <nz-date-picker
                id="publishDate"
                nzShowTime
                nzFormat="yyyy-MM-dd HH:mm:ss"
                nzPlaceHolder="{{publishDate | date:'yyy-MM-dd HH:mm:ss'}}"
                (ngModelChange)="onChangetime($event)"
                (nzOnOk)="onOk($event)"
              ></nz-date-picker>
                    
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-2 control-label">简介图片：</label>
            <div class="col-md-8">
                <span class="btn green fileinput-button">
                    <i class="fa fa-plus"></i>
                    <span>选择文件</span>
                    <input type="file"  name="photoFile" accept="image/png, image/jpeg ,image/jpg" (change)="imgadd($event)">
                </span>
                <div class="imgbox" style="display:none;">
                    <img class="setimg" src="" alt="">
                </div> 
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-2 control-label">简介描述：</label>
            <div class="col-md-8">
                    <textarea class="table" id="synopsis" name="synopsis" rows="8" cols="150"></textarea>
            </div>
        </div>
        <div class="col-md-12">
            <label class="col-md-2 control-label">内容：</label>
            <div class="col-md-8">
                <ckeditor id="myckeditor" [(ngModel)]="mycontent" [ngModelOptions]="{standalone: true}" #myckeditor [config]="ckeConfig" debounce="500" (change)="onChange($event)"></ckeditor>
                
            </div>
        </div>
    </form>
    <div class="anniu">
            <button class="btn" (click)="goback()">返回</button>
            <button type="submit" class="btn btn-success" [disabled]="formModel.invalid" (click)="add()">保存</button>
    </div>
</div>

<div id="hint" *ngIf="isHint">
  <div class="hintMsg">{{hintMsg}}</div>
</div>
<div class="spinner" *ngIf="isload">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

